<p id="notice"><%= notice %></p>

<h1>Listing Operating System</h1>
<%= button_to 'New Operating System', new_operating_system_path,method: :get %>
<table class="center" border=1>
  <thead>
   <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operating_system.each do |operating_system| %>
      <tr>
        <td><%= operating_system.name %></td>
        <td><%= operating_system.company %></td>
        <td><%= operating_system.version %></td>
        <td><%= link_to 'Show', operating_system %></td>
        <td><%= link_to 'Edit', edit_operating_system_path(operating_system) %></td>
        <td><%= link_to 'Destroy', operating_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


