<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @processor.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @processor.company %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @processor.speed %>
</p>

<%= link_to 'Edit', edit_processor_path(@processor) %> |
<%= link_to 'Back', processors_path %>
